.tl-slider-container-mask {background-image:url("./images/Ayer-MS.jpg"); background-size:100%; background-position-y:-350px;}
.tl-slider-screen {background: -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.5) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(30%, rgba(0,0,0,0.5)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(90%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.5) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.5) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.5) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.5) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */ ; position:absolute; height:100%; width:100%;}
.tl-text .tl-text-content p {color:white; text-shadow:1px 1px 1px black;}
.tl-credit {color:white !important; text-shadow:1px 1px 1px black;}
.tl-text-content-container .tl-headline {color: white; text-shadow: 3px 3px 3px black !important; }
.tl-text-content li {color:white; text-shadow:1px 1px 1px black;}
/* .tl-slide-content-container {background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 90%,rgba(0,0,0,0) 100%);} */
.tl-timeline .tl-media-content-container .tl-credit a {color:#c9c8ec; text-shadow:3px 3px 3px black !important;}
.tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text {
max-width:60% !important;}
@media screen and (max-width: 400px) {
	.tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text {
max-width:100% !important;}
	.tl-slide-content {padding-left:10px !important; padding-right:10px !important; width:100% !important;}
	.tl-text .tl-text-content .subhead {font-size: 24px !important;}
	.tl-skinny .tl-text {margin-top:0 !important;}
	.tl-storyslider {max-height:45% !important; overflow-y: scroll !important;}
	.tl-timeline {overflow-y:scroll !important;}
	.tl-timenav {overflow: scroll !important;}
	.tl-slide {overflow-y:scroll !important;}
	.tl-headline-date {color:white !important;}

} 